/* pc */
@media all and (max-width: 1440px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 3.333vw;
      --mainSubTitleEn: 1.875vw;
      --mainSubTitleKo: 1.667vw;
      --mainTextEn: 1.3vw;
      --mainTextKo: 1.2vw;
      --mainSubText: 1.15vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}

   .basic .inner {padding: 150px 80px 0 80px;}
   .basic .inner .left {width: 35%;}
   .basic .inner .right {width: 60%;}

   .history .inner li .img {width: 240px; height: 320px;}

   .skill .inner .left {width: 30%;}
   .skill .inner .right {width: 60%;}
   .skill .inner .right li {width: 80%;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 12%;}
}

/* laptop */
@media all and (max-width: 1280px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 3.333vw;
      --mainSubTitleEn: 1.875vw;
      --mainSubTitleKo: 1.667vw;
      --mainTextEn: 1.5vw;
      --mainTextKo: 1.4vw;
      --mainSubText: 1.35vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}
   
   .basic .inner {padding: 150px 80px 0 80px;}

   .history .inner li .img {width: 240px; height: 320px;}

   .skill .inner .left {width: 30%;}
   .skill .inner .right {width: 70%;}
   .skill .inner .right li {width: 80%;}

   .resolution .moreBtn2 a {perspective: 300px;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 15%;}
   .contact .inner .bottomNav .rights {width: 25%;}
}

/* tablet */
@media all and (max-width: 768px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 4vw;
      --mainSubTitleEn: 5vw;
      --mainSubTitleKo: 1.667vw;
      --mainTextEn: 2.5vw;
      --mainTextKo: 2.5vw;
      --mainSubText: 2.4vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}

   .title .inner {display: flex; flex-direction: column; justify-content: center; align-items: center;}

   .about .inner .marquee .marquee-content {font-size: var(--headTitle);}

   .basic .inner {padding: 150px 50px 0 50px;}
   .basic .inner .left li:first-child {display: none;}
   .basic .inner .right .text {display: none;}
   .basic .inner .right .program .numBox {padding-top: 0;}

   .history .inner li .img {width: 240px; height: 320px;}
   .history .inner li .comment {display: none;}

   .skill .inner .left {display: none;}
   .skill .inner .right {width: 100%; align-items: center;}
   .skill .inner .right li {width: 80%;}
   .skill .inner .right li .hiddenText {font-size: var(--mainSubText);}

   .resolution .moreBtn2 a {perspective: 300px;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 25%;}
   .contact .inner .bottomNav .rights {display: none;}
}

/* mobile */
@media all and (max-width: 480px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 4vw;
      --mainSubTitleEn: 5vw;
      --mainSubTitleKo: 2.5vw;
      --mainTextEn: 4vw;
      --mainTextKo: 4vw;
      --mainSubText: 3.5vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}

   header {padding: 0 40px;}

   .title {height: 100vh; padding: 0;}
   .title .inner .mainTextEn {display: none;}

   .about .inner .marquee .marquee-content {font-size: var(--headTitle);}

   .basic .inner {padding: 150px 50px 0 50px;}
   .basic .inner .left {display: none;}
   .basic .inner .right {width: 100%;}
   .basic .inner .right .text {display: none;}
   .basic .inner .right .program .numBox {padding-top: 0; font-size: var(--mainSubTitleEn);}

   .history .inner li .img {display: none;}
   .history .inner li .date {width: 25%;}
   .history .inner li .comment {display: none;}

   .skill .inner .left {display: none;}
   .skill .inner .right {width: 100%; align-items: center;}
   .skill .inner .right li {width: 80%;}
   .skill .inner .right li .hiddenText {font-size: var(--mainSubText);}
   .skill .inner .right li .hiddenText {font-size: var(--mainSubTitleKo);}

   .resolution .moreBtn2 a {perspective: 300px;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 40%;}
   .contact .inner .bottomNav .rights {display: none;}
}