/* pc */
@media all and (max-width: 1440px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 3.333vw;
      --mainSubTitleEn: 1.875vw;
      --mainSubTitleKo: 1.667vw;
      --mainTextEn: 1.3vw;
      --mainTextKo: 1.2vw;
      --mainSubText: 1.15vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}

   .svg {bottom: 5%;}
   .research .svgPoint .point01 {left: 46.5%;}
   .research .svgPoint .point02  {left: 33.6%;}
   .research .svgPoint .point03 {left: 51%;}
   .research .svgPoint .point04 {left: 30.8%;}
   .research .svgPoint .point05 {left: 56.8%;}
   .research .svgPoint .point06 {left: 43%;}
   .research .inner .innerContent {width: 90%;}

   .information .inner .imgBox img {width: 124%; left: -12%;}

   .swiper-button-next {left: 20%;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 12%;}
}

/* laptop */
@media all and (max-width: 1280px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 3.333vw;
      --mainSubTitleEn: 1.875vw;
      --mainSubTitleKo: 1.667vw;
      --mainTextEn: 1.5vw;
      --mainTextKo: 1.4vw;
      --mainSubText: 1.35vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}

   .svg {bottom: 5%; right: 0; width: 90%;}
   .research .svgPoint .point01 {left: 46.1%;}
   .research .svgPoint .point02  {left: 31.5%;}
   .research .svgPoint .point03 {left: 51.1%;}
   .research .svgPoint .point04 {left: 28.3%;}
   .research .svgPoint .point05 {left: 57.6%;}
   .research .svgPoint .point06 {left: 42.1%;}
   .research .inner .innerContent {width: 90%; justify-content: space-between;}
   .research .inner .innerContent .left {width: 40%;}
   .research .inner .innerContent .right {width: 60%;}
   .research .inner .innerContent .left .img {width: fit-content; height: fit-content;}

   .system .inner > ul > li:last-child {padding: 75px 0px 75px 100px;}
   .system .inner > ul > li .colorInner li:first-child .colorBar {width: 500px;}
   .system .inner > ul > li .colorInner li:nth-child(2) .colorBar {width: 500px;}
   .system .inner > ul > li .colorInner li:nth-child(3) .colorBar {width: 500px;}
   
   .information .inner .imgBox img {width: 124%; left: -12%;}
   .information .inner .imgBox .infoSvg {display: none;}

   .sketch .inner .right .mySwiper {height: 60%;}
   .swiper-button-next {left: 20%;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 15%;}
   .contact .inner .bottomNav .rights {width: 25%;}
}

/* tablet */
@media all and (max-width: 768px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 4vw;
      --mainSubTitleEn: 5vw;
      --mainSubTitleKo: 1.667vw;
      --mainTextEn: 2.5vw;
      --mainTextKo: 2.5vw;
      --mainSubText: 2.4vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}

   .title .inner {display: flex; flex-direction: column; justify-content: center; align-items: center;}

   .about .inner .marquee .marquee-content {font-size: var(--headTitle);}

   .svg {bottom: 15%; right: -5%; width: 115%;}

   .research .svgPoint .point {display: none;}
   .research .inner .innerContent {width: 90%; justify-content: space-between;}
   .research .inner .innerContent .left {display: none;}
   .research .inner .innerContent .right {width: 100%;}
   .research .inner .innerTitle .mask {font-size: var(--mainTitleEn);}
   .research .inner .innerContent .right .textTitle {font-size: var(--mainTextKo);}
   .research .inner .innerContent .right .text {font-size: var(--mainSubText);}

   .system .inner > ul > li:first-child {display: none;}
   .system .inner > ul > li:last-child {width: 95%; padding: 75px 0px 75px 0px; text-align: center;}
   .system .inner > ul > li .headingInner li:nth-child(2) {font-size: var(--mainSubTitleEn);}
   .system .inner > ul > li .headingInner li:nth-child(4) {font-size: var(--mainTitleEn);}
   .system .inner > ul > li .headingInner li:nth-child(5) {font-size: var(--mainTextEn);}
   .system .inner > ul > li .buttonInner {display: flex; flex-direction: column; align-items: center; justify-content: center;}
   .system .inner > ul > li .buttonInner li {margin: 0 0 50px 0;}
   .system .inner > ul > li .colorInner li {display: flex; flex-direction: column; align-items: center;}
   .system .inner > ul > li .iconInner {justify-content: center;}
   .system .inner > ul > li .logoInner li .img {margin: 0 auto;}
   .system .inner > ul > li .colorInner li:first-child .colorBar {width: 350px;}
   .system .inner > ul > li .colorInner li:nth-child(2) .colorBar {width: 350px;}
   .system .inner > ul > li .colorInner li:nth-child(3) .colorBar {width: 350px;}
   
   .information .inner .imgBox img {width: 150%; left: -25%;}
   .information .inner .imgBox .infoSvg {display: none;}

   .sketch {display: none;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 25%;}
   .contact .inner .bottomNav .rights {display: none;}
}

/* mobile */
@media all and (max-width: 480px) {
   :root {
      /* font size */
      --headTitle: 5.990vw;
      --mainTitleEn: 3.854vw;
      --mainTitleKo: 4vw;
      --mainSubTitleEn: 5vw;
      --mainSubTitleKo: 2.5vw;
      --mainTextEn: 4vw;
      --mainTextKo: 4vw;
      --mainSubText: 3.5vw;
   }

   .loading .loadBox {font-size: var(--headTitle);}

   header {padding: 0 40px;}

   .title {height: 100vh; padding: 0;}
   .title .inner .mainTextEn {display: none;}

   .about .inner .marquee .marquee-content {font-size: var(--headTitle);}

   .research #visual {display: none;}
   .research .svgPoint .point {display: none;}
   .research .inner .innerContent {width: 90%; justify-content: space-between;}
   .research .inner .innerContent .left {display: none;}
   .research .inner .innerContent .right {width: 100%;}
   .research .inner .innerTitle .mask {font-size: var(--mainTitleEn);}
   .research .inner .innerContent .right .textTitle {font-size: var(--mainTextKo);}
   .research .inner .innerContent .right .text {font-size: var(--mainSubText);}

   .system .inner > ul > li:first-child {display: none;}
   .system .inner > ul > li:last-child {width: 95%; padding: 75px 0px 75px 0px; text-align: center;}
   .system .inner > ul > li .headingInner li:nth-child(2) {font-size: var(--mainSubTitleEn);}
   .system .inner > ul > li .headingInner li:nth-child(4) {font-size: var(--mainSubText);}
   .system .inner > ul > li .headingInner li:nth-child(5) {font-size: var(--mainSubTitleKo);}
   .system .inner > ul > li .buttonInner {display: flex; flex-direction: column; align-items: center; justify-content: center;}
   .system .inner > ul > li .buttonInner li {margin: 0 0 50px 0;}
   .system .inner > ul > li .colorInner li {display: flex; flex-direction: column; align-items: center;}
   .system .inner > ul > li .iconInner {justify-content: center;}
   .system .inner > ul > li .logoInner li .img {margin: 0 auto;}
   .system .inner > ul > li .colorInner li:first-child .colorBar {width: 350px;}
   .system .inner > ul > li .colorInner li:nth-child(2) .colorBar {width: 350px;}
   .system .inner > ul > li .colorInner li:nth-child(3) .colorBar {width: 350px;}
   
   .information .inner .textBox {top: 25%;}
   .information .inner .imgBox {width: 90%; height: 35%;}
   .information .inner .imgBox img {width: 100%; left: 0%;}
   .information .inner .imgBox .infoSvg {display: none;}

   .sketch {display: none;}

   .contact .inner .bottomNav .topBtn, .contact .inner .bottomNav .contactBtn {width: 40%;}
   .contact .inner .bottomNav .rights {display: none;}
}